@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
}

/* Hero Section Styles */
.bg-container{
    background-image: url("../assets/Hero-bg.png");
    width: 1440px;
    height: 652px;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 54px 179px 17px 263px;
}

/* .hero-bg {
    margin: 0 378px 341px 378px;
} */

/* .bg-container .banner-description {
    margin: 100px 179px 17px 263px;
} 
*/

/* Main section styles */

.title {
    text-align: center;
}

.title-stage-one {
    display: flex;
    gap: 100px;
}

.title-stage-two {
    display: flex;
    gap: 100px;
}

.title-stage-three {
    display: flex;
    gap: 100px;
}

.middle {
    width: 1140px;
    height: 1400;
    padding: 80px 97px;
    background-color: rgba(13, 19, 33, 0.02);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.inspiration {
    margin-top: 90px;
}
/* Target related styles */

.target-learning {
    display: flex;
    gap: 24px;
}

/* support section styles */

.bg-container-2 {
    background-image: url(../assets/handshake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 1140px;
    height: 313px;
}

/* Footer styles */

.footer {
    width: 1440px;
    display: flex;
    justify-content: space-around;
}

.footer h2 {
    font-weight: 600;
    font-size: 20px;
}