@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
}

/* Hero Section Styles */
.bg-container{
    background-image: url("../assets/Hero-bg.png");
    width: 1440px;
    margin: 103px 42px 114px 42px;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 54px 179px 17px 263px;
}

.hero-bg img {
    margin-left: 380px;
    margin-bottom: 32px;
}

.banner-description h1 {
    font-weight: bolder;
    font-size: 48px;
    color: #0D1321;
    margin-bottom: 24px;
} 

.banner-description button {
    padding: 21px;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    background-color: #0D1321;
    margin: 32px 377px 17px 377px;
    border-radius: 8px;
}

/* Shared styles */
.para-color {
    color: #0D1321; 
    margin-bottom: 48px;
    text-align: center;
}

.h2-heading {
    font-weight: bolder;
    font-size: 32px;
    text-align: center;
    margin-bottom: 24px;
}

.middle-padding {
    padding: 48px;
    margin-bottom: 32px;
}

.coding p {
    text-align: justify;
}


/* Main section styles */

.title {
    text-align: center;
}

.title-stage-one {
    display: flex;
    gap: 100px;
}

.title-stage-two {
    display: flex;
    gap: 100px;
}

.title-stage-three {
    display: flex;
    gap: 100px;
}

.middle {
    width: 1140px;
    margin-left: 110px;
    margin-right: 192px;
    padding: 80px 97px;
    background-color: rgba(13, 19, 33, 0.02);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.middle .coding {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.coding button {
    font-weight: 600;
    font-size: 20px;
    padding: 12px;
    color: #0D1321;
}

/* Inspiration section styles */

.inspiration {
    width: 1140px;
    background-color: rgba(13, 19, 33, 0.1);
    margin: 49px 150px 50px 150px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inspiration-video {
    padding: 32px;
    border-radius: 16px;
}
/* Target related styles */

.target {
    width: 1140px;
    margin: 49px 150px 50px 150px;
}

.skills {
    display: flex;
    gap: 24px;
}

.skills .skill-1 {
    width: 364px;
    background-color: rgba(255, 76, 30, 0.05);
    padding: 40px;
    border-radius: 16px;
}
.skill-1 img, .skill-1 h2, .skill-1 p {
    margin-bottom: 16px;
}
.skills .skill-2 {
    width: 364px;
    background-color: rgba(0, 76, 232, 0.05);
    padding: 40px;
    border-radius: 16px;
}
.skill-2 img, .skill-2 h2, .skill-2 p {
    margin-bottom: 16px;
    text-align: justify;
}
.skills .skill-3 {
    width: 364px;
    background-color: rgba(255, 223, 0, 0.05);
    padding: 40px;
    border-radius: 16px;
}
.skill-3 img, .skill-3 h2, .skill-3 p {
    margin-bottom: 16px;
    text-align: justify;
}

/* support section styles */

.bg-container-2 {
    background-image: url(../assets/handshake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 49px 150px 80px 150px;
    border-radius: 20px;
    width: 1140px;
} 

.bg-container-2 .support {
    margin-left: 300px;
}

.bg-container-2 h2 {
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    padding-top: 64px;
    color: #fff;
}

.bg-container-2 p {
    font-size: 16px;
    text-align: center;
    margin-top: 16px;
    color: #fff;
}

input[type="text"] {
    padding: 25px 215px 19px 26px;
    margin-top: 24px;
    margin-bottom: 64px;
    border-radius: 10px;
    color: rgba(13, 19, 33, 0.4);
}
input[type="button"] {
    padding: 19px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 64px;
    border-radius: 10px;
    color: rgba(13, 19, 33, 0.4);
}

/* Footer styles */

.footer {
    width: 1440px;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.footer h2 {
    font-weight: 600;
    font-size: 20px;
    padding: 36px;
    
}

.media-items {
    padding: 36px;
}